<nav class="navbar bg-body-tertiary ">
    <div class="container-fluid">
    <!-- /////////////////////////////// logo/////////////////////////////// -->
        <div class="leftSide">
            <img src="../../assets/1628823182689.jfif" alt="" srcset="">
            <h4>DEEP <samp>THOUGHTS</samp></h4>
        </div> 
    <!-- /////////////////////////////// items/////////////////////////////// -->
        <div class="rightSide">
            <div class="navbutton">
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-house"></i></button>
                <button type="button" class="btn btn-primary"><i class="fa-regular fa-screwdriver-wrench"></i></button>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-bell"></i></button>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-user"></i></button>
            </div>

    <!-- /////////////////////////////// menu/////////////////////////////// -->
            <div class="menu">
                <button class="menu-toggle"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                <ul class="menu-items">
                <li><a href="#">Logout</a></li>
                <li><a href="#">Parent Dashboard</a></li>
                <li><a href="#">Batches</a></li>
                <li><a href="#">Cohorts</a></li>
                <li><a href="#">Sessions</a></li>
                <li><a href="#">Articals</a></li>
                <li><a href="#">Quizzes</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
